#
# Example configuration
#
pools:
    www-example:
        monitor: http
        monitor_params:
            use_ssl: true
            hostname: www.example.com
            url_path: /healthcheck?check_all=true
        lb_method: twrr 
        fallback: any
        members:
        - ip: 10.1.1.1
          name: www1-dc1
          weight: 1
        - ip: 172.16.1.1
          name: www2-dc2
          weight: 1
        - ip: 172.16.1.2
          name: www3-dc2
          weight: 1

globalnames:
    www.example.com:
        pool: www-example
        ttl: 1

