#
# Example configuration
#
pools:
    ns-example:
        monitor: tcp
        monitor_params:
            port: 53
        lb_method: wrr
        fallback: refuse
        members:
        - ip: 10.20.30.40
          name: ns1.example.com
          weight: 1
        - ip: 10.20.30.50
          name: ns2.example.com
          weight: 1
    www-example:
        monitor: http
        monitor_params:
            use_ssl: true
            hostname: www.example.com
            url_path: /healthcheck?check_all=true
        lb_method: twrr 
        fallback: any
        members:
        - ip: 10.1.1.1
          name: www1-dc1
          weight: 1
        - ip: 172.16.1.1
          name: www2-dc2
          weight: 1
        - ip: 172.16.1.2
          name: www3-dc2
          weight: 1

globalnames:
    www.example.com:
        pool: www-example
        ttl: 1
        nsrecord: false
    example.com:
        pool: ns-example
        ttl: 3600
        nsrecord: true

