################################
# hostname to use when generating a SOA response
#
# HOSTNAME: polaris.example.com

################################
# log a detailed request/response information to pdns
# pdns.conf "loglevel" option should be set to 6 or higher
#
# setting to "false" will improve the backend performance
#
# LOG: false

################################
# memcache hostname/ip:port to use e.g. 192.168.1.10:12345,
# if port is omitted the default memcache port is used
#
# SHARED_MEM_HOSTNAME: 127.0.0.1
