###############################
# SOA record format
# MNAME                RNAME                           SERIAL REFRESH RETRY EXPIRE MINIMUM
# polaris.example.com. hostmaster.polaris.example.com. 42     3600    600   86400  1

###############################
# SOA MNAME, must end with a dot.
#
# SOA_MNAME: polaris.example.com.

###############################
# SOA_RNAME, must end with a dot.
#
# SOA_RNAME: hostmaster.polaris.example.com.

###############################
# SOA serial can either be an absolute numeric value e.g. 1(default), or "auto",
# which automatically sets the serial to seconds since the epoch of the last state
# update.
#
# SOA_SERIAL: 1

###############################
# SOA REFRESH
#
# SOA_REFRESH: 3600

###############################
# SOA RETRY
#
# SOA_RETRY: 600

###############################
# SOA EXPIRE
#
# SOA_EXPIRE: 86400

###############################
# SOA MINIMUM
#
# SOA_MINIMUM: 1

###############################
# TTL to set on SOA record
#
# SOA_TTL: 86400

################################
# Whether to log a detailed request/response information to pdns.
# If set to "true", pdns.conf "loglevel" option must be set to 6 or higher.
#
# Setting to "false" will improve the backend performance.
#
# LOG: false

################################
# Memcache hostname/ip:port to use e.g. "192.168.1.10:12345",
# if port is omitted the default memcache port is used.
#
# SHARED_MEM_HOSTNAME: 127.0.0.1
