################################
# hostname to use when generating a SOA response
#
# HOSTNAME: polaris.example.com

################################
# log a detailed request/response information to pdns
# pdns.conf "loglevel" option should be set to 6 or higher
#
# setting to "false" will improve the backend performance
#
# LOG: false

