#
# Polaris base settings
#
# log_level 
#   one of "none"(disables logging), "info", "debug", "warning", "error"
logging:
    # where to send logs to, one of "syslog", "datagram"(udp)
    handler: syslog
    # hostname and port to use with the datagram handler
    hostname: 127.0.0.1
    port: 2222

health_tracker:
    # number of prober processes to run
    probers: 50
    log_level: debug
    # full path to the pid file 
    pid_file: /opt/polaris/var/run/polaris-health.pid

distributor:
    # hostname to use when generating SOA responses
    hostname: polaris1.example.com
    # only "none" and "info" levels are supported for distributor
    # enabling logging will significantly reduce the resolver performance
    log_level: none

