#
# Example load balancing configuration
#
pools:
    www-example:
        monitor: http
        monitor_params:
            use_ssl: true
            hostname: www.example.com
            url_path: /healthcheck?check_all=true
        lb_method: twrr 
        fallback: any
        max_addrs_returned: 2
        members:
            10.1.1.2:
                name: www1-dc1
                weight: 1
            10.1.1.3:
                name: www2-dc1
                weight: 1
            192.168.1.2:
                name: www3-dc2
                weight: 1
            192.168.1.3:
                name: www4-dc2
                weight: 1

globalnames:
    www.example.com:
        pool: www-example
        ttl: 1
