#
# Example load balancing configuration
#
pools:
    polaris:
        monitor: http_status
        monitor_params:
            path: /health-check.html
        lb_method: wrr 
        fallback: any
        max_addrs_returned: 2
        members:
            192.168.1.2:
                name: www1-dc1
                weight: 1
            192.168.1.3:
                name: www2-dc1
                weight: 1
            192.168.1.4:
                name: www3-dc2
                weight: 1
            192.168.1.5:
                name: www4-dc2
                weight: 1

globalnames:
    polaris.example.com:
        pool: polaris
        ttl: 1

